<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage) { %>
            <div class="alert user-message user-message--error alert-danger col-4 p-2 my-2" role="alert"><%= errorMessage %></div>
        <% } %>
        <% if(successMessage) { %>
            <div class="alert user-message user-message--error alert-success col-4 p-2 my-2" role="alert"><%= successMessage %></div>
        <% } %>
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
              </div>
              <input type="hidden" name="userId" value="<%= userId %>">
              <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-success" type="submit">Update Password</button>

        </form>
    </main>
<%- include('../includes/end.ejs') %>